@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    background-color: #08060b;
    
    color: white;
  }
  

  h1,
  h3,
  p,
  span,
  a,
  button {
    font-family: "Bruno Ace";
  }
  h2 {
    font-family: "Bruno Ace SC";
  }
  button {
    transition: 0.4s;
  }
  button:hover {
    background: #430F58;
    transition: 0.4s;
  }
}
